* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.NavbarCss{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: rgb(132, 189, 196);
  box-shadow: 0 1px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.NavMenu{
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.NavLink{
  text-decoration: none;
  color: #fff;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  padding-bottom: 2px;
}

.NavLink i{
  padding-right: 10px;
}

.NavLink:hover {
  background-color: rgb(60, 106, 112);
  border: 4px;
  transition: all 0.2s ease-in-out;
  border-radius: 2.5px;
  box-shadow: 0 1px rgba(148, 255, 219, 0.25);
  color: #fff;
  padding-bottom: 5px;
  padding: 0.7rem 1rem;
}

.Home{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,119,1) 60%, rgba(0,212,255,1) 100%); 
  
}

.Malipo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,72,0.8838935232296043) 60%, rgba(0,212,255,1) 100%); 
}

.box{
  position: relative;
  width: 480px;
  height: 310px;
  background: #193146ce;
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: '';
  position: absolute;
  top: -50;
  left: -50;
  width: 480px;
  height: 420px;
  background:linear-gradient(0deg, transparent, #1b5455, #1b5455);
  transform-origin: bottom left;
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: -50;
  left: -50;
  width: 480px;
  height: 320px;
  background:linear-gradient(0deg, transparent, #1b5455, #1b5455);
  transform-origin: bottom left;
  animation: animate 6s linear infinite;
  animation-delay:2s;
}

@keyframes animate {
  0%
  {
    transform: rotate(0deg);
  }

  100%
  {
    transform: rotate(360deg);
  }
}

.form{
  position: absolute;
  inset: 2px;
  background: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}


.box::before {
  content: '';
  position: absolute;
  top: -50;
  left: -50;
  width: 480px;
  height: 320px;
  background:linear-gradient(0deg, transparent, #1b5455, #ff203a);
  transform-origin: bottom left;
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: -50;
  left: -50;
  width: 480px;
  height: 320px;
  background:linear-gradient(0deg, transparent, #eeffff, #1b5455);
  transform-origin: bottom left;
  animation: animate 6s linear infinite;
  animation-delay:2s;
}

.form h2{
  color: #81f3f9;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.inputBox{
  position: relative;
  width: 400px;
  
}

.inputBox input{
  position: relative;
  width: 100%;
  padding: 3px 3px;
  margin: 3px;
}


.button {
  background: rgb(4, 183, 199);
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  border-radius: 2px;

  }

  .malipos{
      position: relative;
      width: 580px;
      height: 360px;
      background: #193146ce;
      border-radius: 8px;
      overflow: hidden;
      
  }



  .modal{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400;
      background-color: #eeffff;
      border: 2px solid #000;
      box-shadow: 24px,
  }



  



